{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('core.static', filename='css/news.css', v='1.0.1') }}">
{% endblock %}

{% block content %}
  <section id="splash">
    <h1>Alpha Phi Omega </h1>
  </section>

  <ul id="news">
    {% for newsitem in news %}
      {% if newsitem.can_be_viewed_by_current_user %}
      <div class="newsitem">
        <p class="date"><strong>{{ newsitem.created_at.strftime("%b %d, %Y") }} By {{ newsitem.poster.fullname }}</strong></p>
        <h2>{{ newsitem.title }}</h2>
        <p class="body">{{ newsitem.body | sanitize_html }}</p>
        {% if newsitem.can_be_edited_by_current_user %}
        <form method="POST" action="{{ url_for("core.NewsView:delete", id=newsitem.id, __METHOD_OVERRIDE__="DELETE") }}">
        <input type="submit" class="btn btn-default" value="Delete">
        </form>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </ul>
  {{ super() }}
{% endblock %}