body {
	background-color: #e1ebef; 
}

.collage-pictures {
	padding-left: 40px;
}

.person-picture {
    float: left;
    margin: 10px;
}

.person-picture img {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.center {
    text-align: center
}

#news {
	position: relative; 
	top: -10px; 
	margin: 0px auto; 
	position: relative;
	width: 65%;
	margin-bottom: 100px; 
}

.newsitem {
	padding: 20px; 
	margin-bottom: 8px;
	border: 1px solid #d0d8e0;
	border-radius: 10px; 
	background-color: #fdfcff; 
}

.newsitem:hover {
	background-color: #f7f9fa; 
}


.newsitem  h2 {
	font-size: 22px;
	color: #474747; 
	margin-top: 10px;
}

.newsitem .name {
    color: #0033BB;
	font-size: 14px;
}

.newsitem .date {
	color: #337ab7; 
	text-align: right;
	margin-top: -15px;
	padding-top: 10px;
	font-size: 12px;
}

.newsitem .body {
	padding-top: 5px;
	font-size: 16px;
}

@media (max-width: 1220px) {
	.collage-pictures {
		padding-left: 20px;
	}

	#news {
		width: 75%;
	}
}

@media (max-width: 1030px) {
	.collage-pictures {
		padding-left: 2%;
	}

	#news {
		width: 88%;
	}

	ul, menu, dir {
	    -webkit-padding-start: 10px;
	}
}

@media (max-width: 580px) {
	.newsitem  h2 {
		font-size: 20px;
		color: #474747; 
	}

	#news {
		top: -30px;
		margin: 0px 0px 0px 3px;
		width: 98%;
	}
	.newsitem {
		padding: 10px; 
	}

	.newsitem .date {
		margin-top: 0px;
		padding-top: 0px;
	}

	.newsitem .body {
		padding-top: 5px;
		font-size: 14px;
	}

	.collage-pictures {
		padding-left: 10%;
	}

	.person-picture img {
	    width: 250px;
	    height: 250px;
	}

	ul, menu, dir {
	    -webkit-padding-start: 0px;
	}
}