.navbar li.active {
    border-bottom: 3px solid #337ab7;
}

.navbar li:hover {
    border-bottom: 3px solid #337ab7;  
}


#splash {
    background: url(http://live.calaphio.com/assets/covers/about.png);
    background-size: cover;
    height: 200px;
    width: 100%;
    background-position: center center;
    margin: 0 auto;
    position: relative; 
    top: -37px; 
}

#splash h1 {
    text-align: center;
    font-size: 90px;
    font-family: 'Garamond', cursive;
    font-weight: 100;
    color: #F5F5F5;
    text-shadow: 3px 3px black;
    position: relative; 
    top: 60px; 
}


#info {
    margin-top: 120px;
    margin-bottom: 120px;
}

#info h3 {
    font-size: 42px;
    font-family: "Avenir Next", "Lato", sans-serif;
    text-align: center;
    padding-bottom: 5px;
}

#info p {
    font-size: 18px;
    font-family: "Avenir Next", "Lato", sans-serif;
    text-align: justify;
}

#graphic {
    width: 100%;
    height: 500px;
    background-color: #3855A2;
    border-style: none;
}

#graphic img {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}

.text-container {
    margin: 0 auto;
    width: 70%;
}

.lfs {
    background-color: #FFF;
    height: 575px;
}

.lfs h1 {
    padding-top: 20px;
}

.lfs img {
    margin-top: 35px;
}

#line-separator {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

.navigation {
    text-align: center;
    box-shadow: 10px #888888;
    margin-bottom: -10px;
}

.navigation li {
    display: inline;
    text-align: center;
    font-size: 15px;
    padding: 13px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
body {
    padding-top: 70px;
}

.nav {
    display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-padding-start: 0px;
}

#message {
    height: 515px;
    width: 1300px;
    margin: 0 auto;
    margin-top: -30px;
}

#message h1 {
    margin-top: -20px;
}

#message p {
    font-size: 19px;
    text-align: justify;
    padding-right: 10px;
    margin-top: -15px;

}

.footer {
    background-color: #00477F;
    width: 100%;
    margin: 0 auto;
    height: 75px;
}

.footer p {
    text-align: left;
    padding-left: 25px;
    color: #FFB81C;
    line-height: 1px;
    size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
    text-shadow: 1px 1px black;
    padding-top: 10px;
}

#left {
    float: left;
}

#right {
    float: right;
    padding-right: 65px;
}

.fa-stack {
    border-radius: 100%;
    border: 2px solid #FFB81C;
    height: 36px;
    width: 36px;
    margin: 4px;
    margin-top: 18px;
}

.fa-facebook {
    color: #FFB81C;
    font-size: 18px;
    line-height: 32px;
    padding-right: 2px;
}

.fa-instagram {
    color: #FFB81C;
    font-size: 18px;
    line-height: 32px;
}

.fa-youtube {
    color: #FFB81C;
    font-size: 18px;
    line-height: 32px;
}

form {
    border: 1px solid black; 
    padding: 50px; 
    width: 80%; 
    margin: 0px auto;   
    border: 1px solid #d0d8e0;
    border-radius: px; 
    background-color: #fdfcff; 
    box-shadow: 2px 2px 2px 2px #cfd3d7; 
}

label.control-label {
    color: #6f7984; 
    text-transform: uppercase; 
}

label {
    color: #6f7984; 
}


input#submit.btn.btn-default {
    background-color: white; 
    border: 2px solid #6f7984;  
    border-radius: 0px; 
    margin-top: 25px; 
    text-transform: uppercase; 
    color: #6f7984; 
}

input#submit.btn.btn-default:hover {
    background-color: #6f7984;
    margin-top: 25px; 
    color: white;   
}

.form-control {
    background-color: white; 
    border: 1px solid #cfd3d7;  
    border-radius: 0px; 
    
}

@media  (max-width: 800px) {
    #splash h1 {
        font-size: 12vw;
    }
}

@media (max-width: 580px) {
    #splash {
        height: 120px;
    }

    #splash h1 {
        top: 30px;
    }
}


